/* Assigment #1 style sheet */

* {
    box-sizing: border-box;
}

header {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
    height: 100px;
    margin-bottom: 40px;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    color: #ebebeb;
    height: 100px;
    position: absolute;
    top: 20px;
    right: 17%;
}

#nav li {
    display: inline-block;
}

#nav li + li:before {
    content: " / ";
    padding: 0 25px;
    color: #40a6ff;
}
  
a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 2;
    color: rgba(56, 53, 58, 0.93);
}
a:hover {
    color: blue;
}

h3 {
    font-size: 24px;
    position: absolute;
    left: 16.5%;
    width: 450px;
    height: 100px;
    color: rgba(0, 0, 0, 0.55);
    background: rgba(247, 244, 255, 0.22);
    text-align: center;
    padding-top: 33px;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    margin: 0 auto;
    color:black;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    text-align: left;
    padding-bottom: 20px;
}

.portfolio1 {
    font-size: 24px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    margin: 0 auto;
    color:black;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    text-align: center;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

body {
    margin: 0;
    background-image: url("Elements/back_img_web.jpg");
    z-index: 0;
}

aside {
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    font-size: larger;
    font-style: italic;
    float: right;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(99, 177, 235, 0);
}

center {
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
    color: black;
}

img {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img2 {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 250px;
    height: 200px;
}

.wrapper {
    width: 960px;
    height: auto;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.box-home {
    background: rgba(255, 255, 255, 0.52);
    width: 960px;
    text-align: left;
    line-height: 30px;
    padding: 20px;
    margin: 0 auto;
}

.about {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    position: relative;
    margin: 0 auto;
    margin-top: 500px;
    background: rgba(102, 102, 102, 0.34);
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 20px;
    text-align: center;
    color: #ffffff;
}

.row {
    margin: 8px -16px;
}

.row > .column {
    padding: 8px;
}
.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;   
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    border-radius: 5px;
    background-color: rgba(200, 255, 255, 0.5);
    padding: 20px;
}


